.home-header {
  padding-top: 1.5vh;
  /* float: right; */
  right: 0;
  position: absolute;
}

.header {
  padding-top: 1.5vh;
}

#logo {
  color: black;
  display: block;
  font-size: 4vw;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  text-decoration: none;
}

#menu {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 10px;
}

/* Menu items */
.home-header #menu > a {
  display: inline-block;
  margin-left: 1vw;
  margin-right: 1vw;
}

.header #menu > a {
  display: inline-block;
  margin-left: 3vw;
  margin-right: 3vw;
}

/* Links in the menu*/
#menu a {
  font-size: 1.5vw;
  font-weight: 400;
  padding: 14px 16px;
  text-decoration: none;
}

/* style selected menu item*/
.selected {
  color: #83af9b;
}

/* style unselected menu items */
.unselected {
  color: black;
}

/* Change menu item text color on hover */
#menu a:hover, .dropdown:hover .dropbtn {
  color: #83af9b;
}